.content-card {
  height: 450px;
  .defaultUserPic {
    height: 100px;
    width: 100px;
    margin-left: 15px;
  }
}

a{
  text-decoration: none !important;
}

.selected{
  color: green;
}
ion-menu{
  --width: 245px;
}

ion-menu-toggle{
  text-align: left;
  h5{
    padding-left: 35px;
  }
}