<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Reset Your Password</ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-content>
  <form [formGroup]="forgotPasswordForm" *ngIf="forgotPasswordForm">
    <ion-row>
      <ion-col>
        <ion-item lines="full">
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" formControlName="email"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-button (click)="sendForgotPasswordLink($event)"
        type="submit" [disabled]="forgotPasswordForm.invalid"
        color="danger" expand="block">Send</ion-button>
      </ion-col>

      <ion-col size="12">
        <small>
          Please provide the username or email address that you used when you signed
          up for your Evernote account.
        </small>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
