<app-header [heading]="'Notes'"></app-header>

<ion-content>
  <ion-grid class="note_page ion-no-padding">
    <ion-row *ngIf="notePageList.length && !notePageLoading;">
      <ion-col size="4" *ngFor="let item of notePageList; let i=index">
        <ion-card routerLink="note-detail/{{item.docId}}">
          <ion-card-header>
            <ion-card-subtitle><b>{{item.heading}}</b></ion-card-subtitle>
          </ion-card-header>

          <ion-row class="card-footer ion-no-margin ion-no-padding">
            <ion-col class="ion-no-margin ion-no-padding">
              <p>
                {{item?.createDate?.seconds * 1000 | date: 'd MMM, y'}}
              </p>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>

    <div class="" *ngIf="!notePageList.length && !notePageLoading">
      <app-no-data-found [message]="'No Data Found'"></app-no-data-found>
    </div>

    <div *ngIf="notePageLoading">
      <app-loading 
        [showCardLoading]="true" 
        [loopForImageLoading]="loopForImageLoading"
      ></app-loading>
    </div>
  </ion-grid>
</ion-content>
<app-footer [showToggleButton]="true" [heading]="'Home'"></app-footer>
