<app-header [heading]="'Topic'"></app-header>
<app-local-search  (searchResult)="onChangeSearch($event)"></app-local-search>
<ion-item lines="none" *ngIf = "topicList && topicList.length">
  <ion-icon slot="start" style="margin-inline-end: 9px; color: black;" class="help-icon" name="book-outline">
  </ion-icon>
  <!-- <ion-label ><b>{{topicList[0].subject.name}}</b> - ({{topicList.length}})</ion-label> -->
  <span class="bed_come"><b>{{topicList[0].subject.name}} </b> </span> <span>({{topicList.length}})</span>

</ion-item>
<ion-content>
  <ion-grid class="topic_page ion-no-padding">
    <ion-row *ngIf="topicList.length && !topicListLoading;">
      <ion-col size="4" *ngFor="let item of topicList; let i=index">
        <ion-card routerLink="book/{{item.docId}}">
          <ion-card-header>
            <ion-card-subtitle><b>{{item.topicName}}</b></ion-card-subtitle>
          </ion-card-header>

          <ion-row class="card-footer ion-no-margin ion-no-padding">
            <ion-col class="ion-no-margin ion-no-padding">
              <p>
                {{item?.createDate?.seconds * 1000 | date: 'd MMM, y'}}
              </p>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>

    <div class="" *ngIf="!topicList.length && !topicListLoading">
      <app-no-data-found [message]="'No Data Found'"></app-no-data-found>
    </div>

    <div *ngIf="topicListLoading">
      <app-loading 
        [loopForImageLoading]="loopForImageLoading"
        [showCardLoading]="true"
      ></app-loading>
    </div>
  </ion-grid>
</ion-content>

<app-footer [showToggleButton]="true"></app-footer>
