<ion-content>
  <ion-grid class="ion-no-padding home_page">
    <ion-row>
      <ion-col class="ion-padding-bottom ion-no-padding" size="12">
        <div class="container-background" 
          [style.backgroundImage]="'url(assets/images/' + backgoundImage + ')'">
          <p class="bottom text"><b>
            {{greetingText}}, 
            <span *ngIf="currentUserInfo?.firstName">
              {{currentUserInfo?.firstName}}!
            </span>
          </b>
          </p>
          <h5 class="bottom date"><b>{{currentDate | date: 'EEEE MMM d, y'}}</b></h5>
        </div>
      </ion-col>
    </ion-row>
  
    <ion-item lines='none'>
      Subjects
      <ion-buttons slot="end">
        <ion-button (click)="onClick('subject')">
          <ion-icon slot="icon-only" name="chevron-forward" size='small'></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  
    <ion-slides class="listSlides" [options]='slideOpts3' 
      *ngIf="!subjectListLoading; else loading;">
      <ion-slide *ngFor="let item of subjectList; let i=index" 
       routerLink="topic/{{item.docId}}" >
        <ion-card>
          <ion-card-content class="subject_content">
            <b>{{item.name}}</b>
          </ion-card-content>
        
         <ion-row class="card-footer ion-no-margin ion-no-padding">
            <ion-col class="ion-no-margin ion-no-padding">
              <p class="footer_date">{{item?.createDate?.seconds * 1000 | date: 'd MMM, y'}}</p>
            </ion-col>
         </ion-row>
        </ion-card>
      </ion-slide>
    </ion-slides>

    <ion-item lines='none'>
      Recent Topic
      <ion-buttons slot="end">
        <ion-button (click)="onClick('recentTopic')">
          <ion-icon slot="icon-only" name="chevron-forward" size='small'></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
    
    <ion-slides class="listSlides" [options]='slideOpts3' 
      *ngIf="!topicListLoading; else loading;">
      <ion-slide *ngFor="let item of topicList.sort(sortFunc).slice(0,7); let i=index">
        <ion-card routerLink="topic/book/{{item.docId}}">
          <ion-card-header>
            <ion-card-subtitle><b>{{item?.topicName}}</b></ion-card-subtitle>
          </ion-card-header>
    
          <ion-row class="card-footer ion-no-margin ion-no-padding">
            <ion-col class="ion-no-margin ion-no-padding">
              <p class="footer_date">{{item?.createDate?.seconds * 1000 | date: 'd MMM, y'}}</p>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-slide>
    </ion-slides>

    <ion-item lines='none'>
      Recent Book
      <ion-buttons slot="end">
        <ion-button (click)="onClick('recentBook')">
          <ion-icon slot="icon-only" name="chevron-forward" size='small'></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
    
    <ion-slides class="listSlides" [options]='slideOpts3' 
      *ngIf="!bookListLoading; else loading;">
      <ion-slide *ngFor="let item of bookList.sort(sortFunc).slice(0,7); let i=index">
        <ion-card routerLink="books/page-list/{{item.docId}}">
          <ion-card-header>
            <ion-card-subtitle><b>{{item?.bookName}}</b></ion-card-subtitle>
          </ion-card-header>
    
          <ion-row class="card-footer ion-no-margin ion-no-padding">
            <ion-col class="ion-no-margin ion-no-padding">
              <p class="footer_date">{{item?.createDate?.seconds * 1000 | date: 'd MMM, y'}}</p>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-slide>
    </ion-slides>
  
    <ion-item lines='none'>
       Recent Pages
      <ion-buttons slot="end">
        <ion-button (click)="onClick('recentPage')">
          <ion-icon slot="icon-only" name="chevron-forward" size='small'></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  
    <ion-slides class="listSlides" [options]='slideOpts3' 
      *ngIf="!pageListLoading; else loading;">
      <ion-slide *ngFor="let item of pageList.sort(sortFunc).slice(0,7); let i=index" 
        routerLink="recent-page/page-detail/{{item.docId}}">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle><b>{{item?.heading}}</b></ion-card-subtitle>
          </ion-card-header>
         
         <ion-row class="card-footer ion-no-margin ion-no-padding">
            <ion-col class="ion-no-margin ion-no-padding">
              <p class="footer_date">{{item?.createDate?.seconds * 1000 | date: 'd MMM, y'}}</p>
            </ion-col>
         </ion-row>
        </ion-card>
      </ion-slide>
    </ion-slides>
  
    <ion-item lines='none' *ngIf = "shortList && shortList.length">
       Recent Shorts
      <ion-buttons slot="end">
        <ion-button (click)="onClick('recentShort')">
          <ion-icon slot="icon-only" name="chevron-forward" size='small'></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  
    <ion-slides class="listSlides" [options]='slideOpts3' 
      *ngIf="!shortListLoading; else loading;">
      <ion-slide *ngFor="let item of shortList.sort(sortFunc).slice(0,7); let i=index">
        <ion-card 
          routerLink="short/short-detail/{{item.book.docId}}">
          <ion-card-header>
            <ion-card-subtitle><b>{{item?.heading}}</b></ion-card-subtitle>
          </ion-card-header>
         
         <ion-row class="card-footer ion-no-margin ion-no-padding">
            <ion-col class="ion-no-margin ion-no-padding">
              <p class="footer_date">{{item?.createDate?.seconds * 1000 | date: 'd MMM, y'}}</p>
            </ion-col>
         </ion-row>
        </ion-card>
      </ion-slide>
    </ion-slides>

    <ion-item lines='none' *ngIf = "noteList && noteList.length">
       Recent Notes
      <ion-buttons slot="end">
        <ion-button (click)="onClick('recentNote')">
          <ion-icon slot="icon-only" name="chevron-forward" size='small'></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  
    <ion-slides class="listSlides" [options]='slideOpts3' 
      *ngIf="!noteListLoading; else loading;">
      <ion-slide *ngFor="let item of noteList.sort(sortFunc).slice(0,7); let i=index">
        <ion-card 
          routerLink="note/note-detail/{{item.docId}}">
          <ion-card-header>
            <ion-card-subtitle><b>{{item?.heading}}</b></ion-card-subtitle>
          </ion-card-header>
         
         <ion-row class="card-footer ion-no-margin ion-no-padding">
            <ion-col class="ion-no-margin ion-no-padding">
              <p class="footer_date">{{item?.createDate?.seconds * 1000 | date: 'd MMM, y'}}</p>
            </ion-col>
         </ion-row>
        </ion-card>
      </ion-slide>
    </ion-slides>

  </ion-grid>
</ion-content>

<app-footer [showToggleButton]="true" [heading]="'Home'"></app-footer>

<ng-template #loading>
  <app-loading 
    [loopForImageLoading]="loopForImageLoading"
    [showSlideLoading]="true"
  ></app-loading>
</ng-template>