<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col class="ion-padding-bottom ion-no-padding all-memories-section" size="12">
        <div class="container-background" [style.backgroundImage]="'url(assets/images/background1.jpg)'">
          <p class="bottom text">{{greetingText}}, Nilesh!</p>
          <h5 class="bottom date">{{currentDate | date: 'EEEE MMM d, y'}}</h5>
        </div>
      </ion-col>
    </ion-row>
  
    <ion-item lines='none'>
      Subjects
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon slot="icon-only" name="chevron-forward" size='small'></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  
    <ion-slides class="listSlides" [options]='slideOpts3'>
      <ion-slide *ngFor="let item of subjectList; let i=index" 
        (click)="clickOnSubject(item)" routerLink="topic/{{item.docId}}" >
        <ion-card  style="margin: 10px;">
          <ion-card-header>
            <ion-card-subtitle><b>{{item.name}}</b></ion-card-subtitle>
            <!-- <ion-card-title>Card Title</ion-card-title> -->
          </ion-card-header>
        
         
         <ion-row class="card-footer ion-no-margin ion-no-padding">
            <ion-col class="ion-no-margin ion-no-padding">
              <p class="footer_date">{{item?.createDate?.seconds * 1000 | date: 'd MMM, y'}}</p>
            </ion-col>
         </ion-row>
        </ion-card>
      </ion-slide>
    </ion-slides>
  
    <ion-item lines='none'>
       Recent Pages
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon slot="icon-only" name="chevron-forward" size='small'></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  
    <ion-slides class="listSlides" [options]='slideOpts3'>
      <ion-slide *ngFor="let item of pageList; let i=index" (click)="clickOnSubject(item)">
        <ion-card  style="margin: 10px;">
          <ion-card-header>
            <ion-card-subtitle><b>{{item?.heading}}</b></ion-card-subtitle>
          </ion-card-header>
         
         <ion-row class="card-footer ion-no-margin ion-no-padding">
            <ion-col class="ion-no-margin ion-no-padding">
              <p class="footer_date">{{item?.createDate?.seconds * 1000 | date: 'd MMM, y'}}</p>
            </ion-col>
         </ion-row>
        </ion-card>
      </ion-slide>
    </ion-slides>
  
    <ion-item lines='none'>
       Recent Shorts
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon slot="icon-only" name="chevron-forward" size='small'></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  
    <ion-slides class="listSlides" [options]='slideOpts3'>
      <ion-slide *ngFor="let item of shortList; let i=index" (click)="clickOnSubject(item)">
        <ion-card  style="margin: 10px;">
          <ion-card-header>
            <ion-card-subtitle><b>{{item?.heading}}</b></ion-card-subtitle>
          </ion-card-header>
         
         <ion-row class="card-footer ion-no-margin ion-no-padding">
            <ion-col class="ion-no-margin ion-no-padding">
              <p class="footer_date">{{item?.createDate?.seconds * 1000 | date: 'd MMM, y'}}</p>
            </ion-col>
         </ion-row>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </ion-grid>
</ion-content>

<app-footer [showToggleButton]="true" [heading]="'Home'"></app-footer>