ion-content {
  // --ion-background-color: white !important;
  --ion-item-background: transparent !important;
}

.error_message {
  font-size: 14px;
  color: red;
}

ion-item {
  color: #647b9d;
  --border-color: #d4d7db;
  --highlight-color-focused: #1248a0;
  --padding-start: 0;
  --inner-padding-end: 0;
  font-size: 16px;

  ion-input {
    color: #647b9d;
  }

  ion-icon {
    padding-right: 6px;
    font-size: 26px;
  }

  ion-input:hover {
    color: #1248a0;
  }
}

.password_forgot {
  text-align: right;

  ion-button {
    font-size: 16px;
    color: #0a4296;
    text-transform: unset;
  }
}

ion-card {
  height: 100%;
  box-shadow: none !important;
  // background-image: url(https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?w=2000);
}

.ion-card-footer {
  width: 100%;
  height: 40px;
  align-items: center;
  justify-content: center;
  display: flex;

  span {
    color: #85888d;
    font-size: 12px;
    font-weight: 200;
  }

  button {
    background-color: transparent;
    font-size: 14px;
    font-weight: 600;
    padding-left: 3px;
    color: #535558;
  }

  button:hover {
    color: #969393;
  }
}

.card_header {
  font-size: 40px !important;
  font-family: fangsong;
  position: relative;
  bottom: 5px;
}

.logo {
  height: 100px;
  border-radius: 10px;
  background: white;
}

.wrapform {
  margin-top: 25px;
}