.modal-content {
    .modal-header {
        h4{
        color: #3a3636;
        }
    }
    .modal-footer {
      .btn-danger  {
        background-color: #c12727 !important;
        color: white;
      }
    }
  
  }
  .deleteMsg{
    font-size: 14px !important;
  }