<app-header [heading]="'Subject'"></app-header>

<ion-content>
<ion-grid class="subject_page ion-no-padding">
  <ion-row *ngIf="subjectList.length && !subjectListLoading;else loading;">
    <ion-col size="4" *ngFor="let item of subjectList; let i=index">
      <ion-card routerLink="topic/{{item.docId}}" >
        <ion-card-header>
          <ion-card-subtitle><b>{{item.name}}</b></ion-card-subtitle>
        </ion-card-header>
  
        <ion-row class="card-footer ion-no-margin ion-no-padding">
          <ion-col class="ion-no-margin ion-no-padding">
            <p>
              {{item?.createDate?.seconds * 1000 | date: 'd MMM, y'}}
            </p>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-col>
  </ion-row>
  
  <div class="" *ngIf="!subjectList.length && !subjectListLoading">
    <app-no-data-found [message]="'No Data Found'"></app-no-data-found>
  </div>
</ion-grid>
</ion-content>

<ng-template #loading>
  <app-loading 
    [loopForImageLoading]="loopForImageLoading"
    [showCardLoading]="true"
  ></app-loading>
</ng-template>
