.page_detail {
  .heading {
    ion-label {
      font-size: 18px;
      font-weight: bold;
    }
  }

  .container-background {
    height: 26vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid #d4cece;
  }
}