.page_detail {
  .heading {
    ion-label {
      font-size: 18px;
      font-weight: bold;
    }
  }

  .container-background {
    height: 26vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid #d4cece;
  }
}

/* Style the list */
ul.breadcrumb {
  padding: 10px;
  list-style: none;
  white-space: nowrap;
  overflow: hidden;
  display: inline-flex;
  text-overflow: ellipsis;
}

/* Display list items side by side */
ul.breadcrumb li {
  display: block;
  font-size: 18px;
  max-width: 132px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  color: inherit;
  text-decoration: none;
}

// /* Add a color on mouse-over */
// ul.breadcrumb li a:hover {
//   color: #01447e;
//   text-decoration: underline;
// }