<ion-header [translucent]="true" class="primary_color" line="none">
  <ion-toolbar class="pt-2">
    <ion-buttons slot="start">
      <ion-menu-button *ngIf="showToggleButton">
        <ion-icon name="menu"></ion-icon>
      </ion-menu-button>

      <ion-icon (click)="navigateToBack()"
       *ngIf="!showToggleButton"
       name="arrow-back-outline"
      ></ion-icon>
    </ion-buttons>

    <ion-title class="ion-text-center"
      size="medium"
      *ngIf="heading">
      {{heading}}
    </ion-title>
    
    <ion-title class="ion-text-center" 
      style="width: 100%; padding: 0px 25px;"
      size="medium"  *ngIf="searchBar">
      <ion-searchbar color="light" 
        placeholder="Search" 
        (ionChange)="getItems()" 
        mode="ios"
        [(ngModel)]="searchValue" 
        #autofocus
      ></ion-searchbar>
    </ion-title>
    
    <ion-buttons class="navigation_button" slot="end" fill="clear" 
      routerLink="short/{{navigationUrl}}" 
      *ngIf="navigationUrl"
    ><ion-icon style="font-size: 28px; color: red;" 
      name="card-outline"
    ></ion-icon>
    </ion-buttons>

    <ion-buttons class="navigation_button" style="margin: 0 10px;" 
      slot="end" fill="clear" routerLink="note/{{navigationUrl}}" 
      *ngIf="navigationUrl">
      <ion-icon style="font-size: 24px; color: red;" 
        name="bookmarks-outline"
      ></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<div style="padding:10px 0px; font-size: 14px;"  *ngIf="searchBar">
  <ion-list *ngIf="searchValue">
    <ion-item lines="none" *ngFor="let item of pageList" 
      (click)="onSelect(item)">
      <ion-icon style="font-size: 35px; margin-right: 5px;"  
        slot="start" name="document-outline"
      ></ion-icon> 
      <span [innerHTML]="transform(item.heading, searchValue)"></span>
    </ion-item>

  </ion-list>
  <div class="" *ngIf="!pageList.length && searchValue">
    <app-no-data-found [message]="'No Result Found'"></app-no-data-found>
  </div>
</div>
