<ion-header [translucent]="true" class="primary_color" line="none">
  <ion-toolbar class="pt-2">
    <ion-buttons slot="start">
      <ion-menu-button *ngIf="showToggleButton">
        <ion-icon name="menu"></ion-icon>
      </ion-menu-button>

      <ion-icon (click)="navigateToBack()"
       *ngIf="!showToggleButton"
       name="arrow-back-outline"
      ></ion-icon>
    </ion-buttons>

    <ion-title class="ion-text-center"
      size="medium"
      *ngIf="heading">
      {{heading}}
    </ion-title>
    
    <ion-title class="ion-text-center" 
      style="width: 100%; padding: 0px 25px;"
      size="medium"  *ngIf="searchBar">
      <ion-searchbar color="light" 
        placeholder="Search" 
        (ionChange)="getItems()" 
        mode="ios"
        [(ngModel)]="searchValue" 
        #autofocus
      ></ion-searchbar>
    </ion-title>
    
    <ion-buttons class="navigation_button" slot="end" fill="clear" 
      routerLink="short/{{navigationUrl}}" 
      *ngIf="navigationUrl"
    ><ion-icon style="font-size: 28px;" 
      name="card-outline"
    ></ion-icon>
    </ion-buttons>

    <ion-buttons class="navigation_button" style="margin: 0 10px;" 
      slot="end" fill="clear" routerLink="note/{{navigationUrl}}" 
      *ngIf="navigationUrl">
      <ion-icon style="font-size: 24px;" 
        name="bookmarks-outline"
      ></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<div class="search_list" *ngIf="searchBar">
  <!-- <p class="ion-no-margin ion-no-padding pt-4" style="padding-left: 15px;">GO TO..</p><hr> -->
  <ion-list *ngIf="searchValue">
    <ion-item lines="none" *ngFor="let item of pageList" (click) = "onSelect(item, 'Page')">
      <ion-icon style="font-size: 35px; margin-right: 5px;"  slot="start" name="reader-outline"></ion-icon>  <span [innerHTML]="transform(item.heading, searchValue)"></span>
    </ion-item>

  </ion-list>
  <ion-list *ngIf="searchValue">
    <ion-item lines="none" *ngFor="let item of bookList" (click) = "onSelect(item,'Book')">
      <ion-icon style="font-size: 35px; margin-right: 5px;"  slot="start" name="book-outline"></ion-icon>  <span [innerHTML]="transform(item.bookName, searchValue)"></span>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="searchValue">
    <ion-item lines="none" *ngFor="let item of topicList" (click) = "onSelect(item,'Topic')">
      <ion-icon style="font-size: 35px; margin-right: 5px;margin-left: -4px;"  slot="start" name="receipt-outline"></ion-icon>  <span [innerHTML]="transform(item.topicName, searchValue)"></span>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="searchValue">
    <ion-item lines="none" *ngFor="let item of noteList" (click) = "onSelect(item,'Note')">
      <ion-icon style="font-size: 35px; margin-right: 5px;margin-left: -4px;"  slot="start" name="bookmarks-outline"></ion-icon>  <span [innerHTML]="transform(item.heading, searchValue)"></span>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="searchValue">
    <ion-item lines="none" *ngFor="let item of shortList" (click) = "onSelect(item,'Short')">
      <ion-icon style="font-size: 35px; margin-right: 5px;margin-left: -4px;"  slot="start" name="card-outline"></ion-icon>  <span [innerHTML]="transform(item.heading, searchValue)"></span>
    </ion-item>
  </ion-list>
  <div class="" *ngIf="!pageList.length && searchValue && !bookList.length && !topicList.length && !noteList.length && !shortList.length">
    <app-no-data-found [message]="'No Result Found'"></app-no-data-found>
  </div>
</div>
