.subject_lable{
  font-size: 14px;
}
ion-header {
  padding: 0px 0px;
  ion-buttons {
    ion-menu-button {
      color: var(--ion-color-medium-tint);
      font-size: var(--ion-font-xxl);
    }
    ion-button {
      font-size: var(--ion-font-xxl);
    }
  }

  ion-icon {
    font-size: 24px;
  }
}
 .search_result{
  max-width: 258px;
  // white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
 }


.search_list{
  background: white;
  padding-top:10px; 
  font-size: 14px;
  height: 695px;
  overflow: scroll;
  ion-list{
    padding: 0px;
  }
}
