// If you want to override variables do it here
@import "variables";

// Import styles
@import "~@coreui/coreui/scss/coreui";

// If you want to add something do it here
@import "custom";
.mat-warn {
    background-color: #de1a0b;
    color: white;
  }
 .mat-accent{
    background-color: #43a047;
    color: white;
  }

  .snack-bar{
      position: absolute;
      top:34px;
      right: 10px;
  }
  
  .cursor_pointer{
    cursor: pointer;
  }

  .color_green{
    color: green;;
  }
  .progress-loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1111;

  }
  .loading{
    position: relative;
    top: 50%;
}

.NgxEditor__Wrapper{
  min-height: 350px;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  width: 100%;
}

.btn-upload {
  border: 2px solid #ddd;
  color: #aaa;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 16px;
  width: 100%;
}
.btn-upload-small {
  width: auto;
}
.btn-upload-small .btn-upload {
  height: auto;
  width: auto;
  margin-top: 15px;
}
.btn-upload-small input[type="file"] {
  margin-top: 0;
  height: 100%;
}
.upload-btn-wrapper input[type="file"]:hover ~ .btn-upload {
  border: 2px solid #43a047;
  color: #43a047;
}
.upload-btn-wrapper input[type="file"] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
    
    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }